body{
background-color:cornflowerblue;
}

h1{
    text-align: center;
    border-style:double;
    width: 350px;
    margin:auto;
    border-width: 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color:antiquewhite;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px;
    background-color:rgb(154, 203, 247);
}

p{
background-color:rgb(154, 203, 247);
width:350px;
padding:10px;
margin:0px 0px 0px 20px;
}

main{
    padding:10px;
    border-style: double;
    border-color:antiquewhite;
    border-width:5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin:20px 20px 0px 20px;
    padding:5px;
    background-color:rgb(154, 203, 247);
}